<div class="grid-x error">
    <div class="medium-6 text-center float-center cell vertical-padding">
        <i class="fas fa-ban"></i>
        {% apply spaceless %}
            <h1>{{ 'APPLICABILITY_NOT_SUPPORTED'|t }}</h1>
        {% endapply %}
        <a href="javascript:history.back()">{{ 'GO_BACK'|t }}</a>
    </div>
</div>